@font-face {
    font-family: 'Raleway-Light';
    src: url('../assets/fonts/Raleway-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway-Light';
    src: url('../assets/fonts/Raleway-Regular.ttf') format('truetype');
}
